body{
     font-family: "Roboto",sans-serif;
     color: var(--brand-color)
}
:root {
    --brand-color: #2E2F42;
    --fiolet:#4D5AE5;
    --ocean:#404BBF;
    --gray:#434455;
    --white-logo:#F4F4FD;
    --white:#FFFFFF;
    --footer-text:#E7E9FC;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.list{
    list-style-type:none;
}

.link{
    text-decoration: none;
}

/*-----header--------*/

.header {
    padding: 24px 0;
    border-width: 1px;
    border-color:var(--footer-text);
    border-style: solid;
}

.header-container{
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right:auto;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
    margin-right: 76px;
}

.logo-span{
    color: var(--fiolet);
}

.header-list { 
    display: flex; 
    gap: 40px; 
}

.header-item {
}

.header-link {
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
}

.header-link:hover,
.header-mail:hover,
.header-telephon:hover,
.header-mail:focus,
.header-telephon:focus,
.header-link:focus{
    color:var(--ocean);
}

.header-adress { 
   

}

.header-adress-list  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
 
}

.header-adress-link { 
    margin-left: 40px;   
    
}

.header-mail{
    color:var(--gray);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   
}

.header-telephon{
    color:var(--gray);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

/*-----/header--------*/

.main {
    

}
/*-----hero--------*/


.hero-saction {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bacground-imag/image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:1440px auto;
    
    
   
}



.hero-head {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--white);
    display: block;
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    background-color: var(--fiolet);
    border: none;
    cursor: pointer;
    min-width: 169px;
    border-radius: 4px;
    display: block;
    margin: auto;
    padding: 16px 32px;

}

.hero-btn:focus,
.hero-btn:hover{ 
    background-color:var(--ocean);
}

/*-----/hero--------*/

/*-----advantages-------*/

.section {
    padding: 120px 0 120px ;


 
}




.visual-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.adventages-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em; 
    opacity: 0;
    outline-offset: 0;
       
}
.adventages-list {
    display: flex;
    gap: 24px;
   
}

.adventages-item {
    width: calc((100%-72px) / 4);
}

.adventages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    min-width: 264px;
}

.adventages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray);
}

.advantages-icon {
    display: flex;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color:var(--white-logo);
    width: 264px;
    height: 112px;
    border-radius: 4px;
}

/*-----/advantages-------*/

/*-----what-we-doing-------*/

.what-we-doing-section {
    padding: 0 0 120px;
   
}


.what-we-doing-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.what-we-doing-list {
    display: flex;
    column-gap: 24px;


   

}


.list {
}

.what-we-doing-item {
    display: block;
    max-width: 100%;
    height: auto;
    width: calc((100% - 48px) / 3);
  

}

.what-we-doing-img,
.our-team-img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*-----/What-we-doing-------*/

/*-----our team-------*/

.our-team-section {
    background-color:var(--white-logo);
    



}

.our-team-container{
}

.our-team-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-list {
    display: flex;
    column-gap: 24px;
 

    
}

.our-team-item { 
    background:var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 75px) / 4);
    
}

.our-team-text-block{
    padding: 32px 16px;
    text-align: center;

}

.our-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0 auto 8px;
    
}

.our-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray);
}

.our-times-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.our-times-social-item {
    width: 40px;
    height: 40px;
}

.our-times-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color:var(--fiolet);

}

/*-----/our team-------*/

/*----customers-------*/

.customers-section {
    padding: 120px 0;
   
    display: flex;
}

.customers-container {
    padding: 0 15px;
    margin: 0 auto;
    
    
    
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
    
 

}

.customers-item {
    width: 168px;
    height: 88px;
    padding: 12px 32px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
   
}

.customers-image {
    display: block;
   
}

/*----/customers-------*/

/*-----footer-------*/

.footer {
    background-color:var(--brand-color); 
    padding: 100px 156px;
    display: flex;

}

.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-logo);
    margin:0 auto 16px 0;
    display: block;

}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text);
    max-width: 264px;
    margin-left: 0;
}

.container-footer-logo{
   margin-right: 120px;

}

.container-footer-social{

}

.footer-social-lisst {
    display: flex;
    gap: 16px;
    margin-top: 16px;

}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#434455;
    justify-content: center;
    align-items: center;
}

.footer-social-image {}

.footer-social-title{
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height:1.5;
        letter-spacing: 0.02em;
        color: var(--white);

}

/*-----/footer-------*/

/*-----portfolio-------*/

.portfolio-main{
  
}

.portfolio-section{
    padding:96px 0 120px ;
    
}



.portfolio-container {
   
}

.portfolio-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    opacity: 0;



}

.portfolio-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom:  72px;
   
}
.portfolio-item {
}
.portfolio-btn {
    background:var(--white-logo);
    border: 1px solid var(--footer-text);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--fiolet);
    cursor: pointer;
    text-align: center;
    padding: 12px 24px;
    background: var(--white-logo);
    border: 1px solid var(--footer-text);
    border-radius: 4px;
}

.portfolio-btn-all {
    width: 69px;
} 

.portfolio-btn:focus,
.portfolio-btn:hover{
    background: var(--ocean);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color:var(--white);
    border-color:transparent;
}


/*-----/portfolio-------*/

/*-----cards-------*/

.cards{
    padding-bottom: 120px;

}



.cards-list {
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.cards-items {
    
}

.cards-border:focus,
.cards-border:hover,
.cards-link:hover,
.cards-link:focus{
    border-color: var(--white-logo);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),0px 1px 1px 0px rgba(46, 47, 66, 0.16);
}


.cards-link {
    width: calc((100% - 48px) / 3);
}


.cards-img{
    display: block;
    max-width: 100%;
    height: auto;

}

.cards-border{
    padding: 32px 16px;
    border-bottom: 1px solid var(--footer-text);
    border-right : 1px solid var(--footer-text);
    border-left:1px solid var(--footer-text);

}

.cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 8px;
}

.cards-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--gray);
}

.cards-title:hover,
.cards-text:hover{
    color:var(--ocean);
}


/*-----/cards-------*/